server:
  port: 8011
spring:
  jpa:
    hibernate.ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  datasource:
    url: ${datasource.url}
    username: ${datasource.username}
    password: ${datasource.password}

    springdoc:
      swagger-ui:
        path: /swag
